[submodule "lib/Arduino-Temperature-Control-Library"]
	path = lib/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
[submodule "lib/OneWire"]
	path = lib/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
[submodule "lib/WiFiManager"]
	path = lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
